// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$font-primary: 'Poppins',Arial, sans-serif;

$white: #fff;
$black: #000000;
$darken: #00043c;

$primary: #f79f24;
$secondary: #064acb;

// Altura de secciones

$header: var(--header);
$scrollBar: var(--scrollbar);
$footer: var(--footer);
$appHeight: var(--app-height);

$height-real: calc( #{$appHeight} );
$height-header: calc( #{$appHeight} - #{$header} );
$height-footer: calc( #{$appHeight} - #{$footer} );
$height-header-footer: calc( #{$appHeight} - #{ $header} - #{$footer} );