//BUTTON
.btn {
    font-size: 11px;
    font-weight: 600;

    padding: 12px 16px;

    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;

    border-radius: 4px;
    box-shadow: none !important;

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }

    &.btn-primary {
        color: $white;
        border: 1px solid $primary;
        background: $primary;

        &:hover {
            color: $primary;
            border: 1px solid $primary;
            background: transparent;
        }

        &.btn-outline-primary {
            color: $primary;
            border: 1px solid $primary;
            background: transparent;

            &:hover {
                color: $white;
                border: 1px solid transparent;
                background: $primary;
            }
        }
    }

    &.btn-white {
        color: $black;
        border: 1px solid $white;
        background: $white;

        &:hover {
            color: $white;
            border: 1px solid $white;
            background: transparent;
        }

        &.btn-outline-white {
            color: $white;
            border: 1px solid $white;
            background: transparent;

            &:hover {
                color: $black;
                border: 1px solid transparent;
                background: $white;
            }
        }
    }

    &.btn-secondary {
        color: $white;
        border: 1px solid $secondary;
        background: $secondary;

        &:hover {
            color: $secondary;
            border: 1px solid $secondary;
            background: transparent;
        }

        &.btn-outline-secondary {
            color: $secondary;
            border: 1px solid $secondary;
            background: transparent;

            &:hover {
                color: $white;
                border: 1px solid transparent;
                background: $secondary;
            }
        }
    }
}
