// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

/*
Flaticon icon font: Flaticon
Creation date: 22/02/2020 23:01
*/

@font-face {
    font-family: 'Flaticon';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/flaticon/font/Flaticon.eot');
    src: url('../fonts/flaticon/font/Flaticon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/flaticon/font/Flaticon.woff2') format('woff2'),
        url('../fonts/flaticon/font/Flaticon.woff') format('woff'),
        url('../fonts/flaticon/font/Flaticon.ttf') format('truetype'),
        url('../fonts/flaticon/font/Flaticon.svg#Flaticon') format('svg');
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Flaticon';

        src: url('../fonts/flaticon/font/Flaticon.svg#Flaticon') format('svg');
    }
}
      
.fi:before {
    font-family: 'Flaticon';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    display: inline-block;

    text-decoration: inherit;
    text-transform: none;

    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
}
      
.flaticon-car-service:before { content: "\f100"; }
.flaticon-battery:before { content: "\f101"; }
.flaticon-tyre:before { content: "\f102"; }
.flaticon-tow-truck:before { content: "\f103"; }
.flaticon-car-engine:before { content: "\f104"; }
.flaticon-repair:before { content: "\f105"; }
          
$font-Flaticon-car-service: "\f100";
$font-Flaticon-battery: "\f101";
$font-Flaticon-tyre: "\f102";
$font-Flaticon-tow-truck: "\f103";
$font-Flaticon-car-engine: "\f104";
$font-Flaticon-repair: "\f105";