<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta property="article:publisher" content="https://boliviasolidaria.org.bo"/>
  <meta itemprop="image" content="/static/img/boliviasolidaria-314x306.jpeg">
  <meta name="description" content="Plataforma colaborativa de solidaridad entre ciudadanos"/>

  <meta property="og:site_name" content="Bolivia Solidaria"/>
  <meta property="og:description" content="Plataforma colaborativa de solidaridad entre ciudadanos"/>
  <meta property="og:title" content="Bolivia Solidaria"/>
  <meta property="og:type" content="web"/>
  <meta property="og:image" content="https://boliviasolidaria.org.bo/static/img/boliviasolidaria-314x306.jpeg"/>

  <meta property="twitter:card" content="summary_large_image"/>
  <meta property="twitter:title" content="Bolivia solidaria"/>
  <meta property="twitter:description" content="Plataforma colaborativa de solidaridad entre ciudadanos"/>
  <meta property="twitter:autor" content="@BoSolidaria"/>
  <meta property="twitter:site" content="@BoSolidaria"/>
  <meta property="twitter:image" content="https://boliviasolidaria.org.bo/static/img/boliviasolidaria-314x306.jpeg"/>

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
