<!-- Modal Solictar Ayuda-->
<div class="modal fade" id="modalSolicitarAyuda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Solicitar Ayuda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Paso #1</h4>
        <p>
          Haz click en el botón + (agregar) del mapa.
        </p>
        <img src="static/img/ayuda-1.png">
        <h4>Paso #2</h4>
        <p>
          Escoge la opción de solicitud de ayuda.
        </p>
        <img src="static/img/ayuda-2.png">
        <h4>Paso #3</h4>
        <p>
          Llena el formulario ingresando la información solicitada y trata de que sea lo más específica posible.
          Al terminar presiona <b>ENVIAR</b>.
        </p>
        <img src="static/img/ayuda-3.png">
        <p>
          Tu solicitud será revisada por voluntarios antes de ser publicada.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">entendido</button>
      </div>
    </div>
  </div>
</div>