<!-- Modal bienvenida -->
<div class="modal fade" id="modalBienvenida" tabindex="-1" role="dialog" aria-labelledby="modalLabelBienvenida"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mx-auto" style="font-weight: 500;" id="modalLabelBienvenida">
          ¡Bienvenido(a) a Bolivia Solidaria!
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-justify">
        <p>
          En esta plataforma colaborativa encontrarás información sobre <span style="color: rgb(165, 26, 26);">solicitudes de ayuda</span>, <span style="color: rgb(230, 147, 39);">ofertas de ayuda</span> , <span style="color: rgb(91, 170, 0);">servicios de salud</span> y <span style="color: rgb(34, 116, 180);">otras direcciones útiles</span>.
        </p>

        <p>
          Revisa el mapa y si quieres ayudar o necesitas ayuda, pulsa en el signo de 
          <span class="fa-stack fa-2x" style="font-size: 0.8em;">
            <i class="fa fa-circle fa-stack-2x" style="color: rgb(255, 195, 52);"></i><i class="fa fa-plus fa-stack-1x fa-inverse" style="color: #40444a;"></i>
          </span> 
          para poner información en el mapa. Ayúdanos a que esta iniciativa cuente con más información, y si tienes consultas no dudes en <a href="./contact.html">escribirnos</a>.
        </p>
        <p>Unidos somos más fuertes.</p>
      </div>
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div>