<!-- This file is part of boliviasolidaria
     copyright 2020 <noemi_angles@riseup.net>
-->
<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">

<%= require('ejs-loader!./includes/head.html')({htmlWebpackPlugin}) %>

<body class="blog">
  
  <%= require('ejs-loader!./includes/header.html')() %>

  <section class="ftco-section ftco-degree-bg">
    <div class="container">
      <div class="row">

        <div class="col-lg-8 ftco-animate">
          <h2 class="mb-3">
            En construcción.
          </h2>
        </div>
      </div>
    </div>
  </section> <!-- .section -->

  <%= require('ejs-loader!./includes/footer.html')() %>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  <%= require('ejs-loader!./includes/modal_ofrecer_ayuda.html')() %>
  <%= require('ejs-loader!./includes/modal_solicitar_ayuda.html')() %>
  <%= require('ejs-loader!./includes/modal_datos_covid.html')() %>

  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> -->

</body>
</html>
