<!-- This file is part of boliviasolidaria
     copyright 2020 <noemi_angles@riseup.net>
-->
<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">

<%= require('ejs-loader!./includes/head.html')({htmlWebpackPlugin}) %>
<body class="contact">
  
  <%= require('ejs-loader!./includes/header.html')() %>

  <section class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="wrapper">
            <div class="row no-gutters">
              <div class="col-md-7 d-flex">
                <div class="contact-wrap w-100 p-md-5 p-4">
                  <h3 class="mb-4">Ponte en contacto</h3>
                  <p>
                    Éstas son las redes de Bolivia Solidaria🤗
                  </p>
                  <ul>
                    <li class="ftco-animate"><a href="#">
                        <span class="fa fa-facebook"></span>
                        facebook: <a href="http://fb.me/MapeoBoliviaSolidaria"
                          target="blank">http://fb.me/MapeoBoliviaSolidaria</a>
                    </li>
                    <li class="ftco-animate"><a href="#">
                        <span class="fa fa-twitter"></span>
                        twitter: <a href="https://twitter.com/BoSolidaria" target="blank">@BoSolidaria</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-5 d-flex align-items-stretch">
                <div class="info-wrap bg-primary w-100 p-lg-5 p-4">
                  <h3 class="mb-4 mt-md-4"></h3>
                  <div class="dbox w-100 d-flex align-items-start">
                    <!-- <div class="icon d-flex align-items-center justify-content-center">
            <span class="fa fa-map-marker"></span>
            </div> -->
                    <!-- <div class="text pl-3">
            <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
            </div> -->
                  </div>
                  <div class="dbox w-100 d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="fa fa-phone"></span>
                    </div>
                    <div class="text pl-3">
                      <p><b>WhatsApp</b>: <a href="tel://+591 63149098">+591 63149098</a></p>
                    </div>
                  </div>
                  <div class="dbox w-100 d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="fa fa-paper-plane"></span>
                    </div>
                    <div class="text pl-3">
                      <p><a href="https://t.me/joinchat/DT5zzlbERJkoDDrBm4xXcQ">Grupo de Telegram para ser voluntario</a>
                      </p>
                    </div>
                  </div>
                  <div class="dbox w-100 d-flex align-items-center">
                    <!-- <div class="icon d-flex align-items-center justify-content-center">
            <span class="fa fa-globe"></span>
            </div> -->
                    <!-- <div class="text pl-3">
            <p><span>Website</span> <a href="#">yoursite.com</a></p>
            </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-12">
            <div id="map" class="map"></div>
            </div> -->
      </div>
    </div>
  </section>

  <%= require('ejs-loader!./includes/footer.html')() %>

  <%= require('ejs-loader!./includes/modal_ofrecer_ayuda.html')() %>
  <%= require('ejs-loader!./includes/modal_solicitar_ayuda.html')() %>
  <%= require('ejs-loader!./includes/modal_datos_covid.html')() %>
  
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> -->

</body>
</html>
