<!-- This file is part of boliviasolidaria
     copyright 2020 <noemi_angles@riseup.net>
-->
<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">

<%= require('ejs-loader!./includes/head.html')({htmlWebpackPlugin}) %>

<body class="home">

  <%= require('ejs-loader!./includes/header.html')() %>

  <div class="hero-wrap" >
    <iframe
      width="100%" height="100%"
      src="https://boliviasolidaria.ushahidi.io/views/map"
      frameborder="0" >
    </iframe>
  </div>

  <%= require('ejs-loader!./includes/modal_bienvenida.html')() %>
  <%= require('ejs-loader!./includes/modal_ofrecer_ayuda.html')() %>
  <%= require('ejs-loader!./includes/modal_solicitar_ayuda.html')() %>
  <%= require('ejs-loader!./includes/modal_datos_covid.html')() %>
    
</body>
</html>
