<!-- This file is part of boliviasolidaria
     copyright 2020 <noemi_angles@riseup.net>
-->
<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">

<%= require('ejs-loader!./includes/head.html')({htmlWebpackPlugin}) %>

<body class="organization">
  
  <%= require('ejs-loader!./includes/header.html')() %>

  <section class="ftco-section">
    <div class="container">
    <div class="row justify-content-center pb-5 mb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <span class="subheading">Se parte de nuestras organizaciones amigas</span>
          <h2>Organizaciones amigas</h2>
        </div>
      </div>
    <div class="row">
        <div class="col-md-6 services ftco-animate">
          <div class="d-block d-flex">
            <div class=" d-flex justify-content-center align-items-center">
            <img class="rounded" src="static/img/organisation/wiki.png" alt="Wikimedistas Bolivia" height="70" width="70">
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Wikimedistas de Bolivia</h3>
              <p>Comunidad boliviana de wikimedistas.</p>
              <p><a href="https://twitter.com/wikimedia_bo"  target="_blank" class="btn-custom">conocer mas</a></p>
            </div>
          </div>
          <div class="d-block d-flex">
            <div class=" d-flex justify-content-center align-items-center">
            <img class="rounded" src="static/img/organisation/fes.jpg" alt="Wikimedistas Bolivia" height="70" width="70">
            </div>
            <div class="media-body pl-3">
              <h3 class="heading"> Friedrich-Ebert-Stiftung (FES)</h3>
              <p>La Friedrich-Ebert-Stiftung (FES) se estableció en Bolivia a finales de los años 80 como Instituto Latinoamericano de Investigaciones Sociales - ILDIS, abriendo su primera oficina en enero de 1985. Desde entonces, ha acompañado activamente el proceso de democratización en el país. </p>
              <p><a href="https://www.fes-bolivia.org/" target="_blank"  class="btn-custom">conocer mas</a></p>
            </div>
          </div>
          <div class="d-block d-flex">
            <div class=" d-flex justify-content-center align-items-center">
            <img class="rounded" src="static/img/organisation/osm.jpg" alt="Wikimedistas Bolivia" height="70" width="70">
            </div>
            <div class="media-body pl-3">
              <h3 class="heading"> Comunidad OsmBolivia</h3>
              <p>Comunidad de mapeadores y  usuarios de OpenStreetMap en Bolivia.</p>
              <p><a href="https://twitter.com/OsmBolivia" target="_blank"  class="btn-custom">conocer mas</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 services ftco-animate">
          <div class="d-block d-flex">
            <div class=" d-flex justify-content-center align-items-center">
                <img class="rounded" src="static/img/organisation/mujer_de_plata.jpg" alt="Wikimedistas Bolivia" height="70" width="70">
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Mujer de Plata</h3>
              <p>Mujer de Plata es una colectiva diversa y multidisciplinaria, creada con el objetivo que hacer incidencia social y política exigiendo el cumplimiento de los derechos de las mujeres y sectores vulnerables.</p>
              <p><a href="https://www.facebook.com/mujerdeplatapotosi/"  target="_blank" class="btn-custom">conocer mas</a></p>
            </div>
          </div>
          <div class="d-block d-flex">
            <div class=" d-flex justify-content-center align-items-center">
                <img class="rounded" src="static/img/organisation/peps.jpg" alt="Wikimedistas Bolivia" height="70" width="70">
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">PEPS-LP</h3>
              <p>Somos ciudadanos en busca de apoyar a las personas que se encuentran en necesidad durante la cuarentena. Trabajemos en conjunto para que nadie pase hambre en esta cuarentena.</p>
              <p><a href="https://www.facebook.com/pepsLP/" target="_blank" class="btn-custom">conocer mas</a></p>
            </div>
          </div>
        </div>

  </section>

  <%= require('ejs-loader!./includes/footer.html')() %>

  <%= require('ejs-loader!./includes/modal_ofrecer_ayuda.html')() %>
  <%= require('ejs-loader!./includes/modal_solicitar_ayuda.html')() %>
  <%= require('ejs-loader!./includes/modal_datos_covid.html')() %>

</body>
</html>
