// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

//FOOTER
.footer {
    overflow: hidden;

    background: #252525;

    .logo {
        font-size: 24px !important;
        font-weight: 700 !important;
        line-height: 1;

        a {
            color: $white;

            span {
                color: $primary;
            }
        }
    }

    .ftco-footer-widget {
        h2 {
            font-size: 20px;
            font-weight: normal;
            font-weight: 600;

            margin-bottom: 40px;

            color: $white;
        }

        ul {
            li {
                a {
                    // color: rgba(255,255,255,.4);
                    color: $white;

                    span {
                        color: $white;
                    }

                    &:hover {
                        color: $primary;

                        span {
                            color: $primary;
                        }
                    }
                }
            }
        }

        .btn-primary {
            border: 2px solid $white !important;
            background: $white !important;

            &:hover {
                border: 2px solid $white !important;
                background: $white;
            }
        }
    }

    p {
        color: rgba($white, .7);
    }

    a {
        color: rgba($white, .7);

        &:hover {
            color: $white;
        }
    }

    .opening-hours {
        h4 {
            font-size: 12px;
            font-weight: 700;

            text-transform: uppercase;

            color: darken($white, 50%);
        }

        p {
            span {
                color: rgba(255, 255, 255, .9);
            }
        }
    }
}


.ftco-footer-social {
    li {
        display: inline-block;

        margin: 0 10px 0 0;

        list-style: none;

        a {
            position: relative;

            display: block;
            float: left;

            width: 40px;
            height: 40px;

            border-radius: 50%;
            background: rgba($white, .05);

            span {
                font-size: 20px;

                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);
            }

            &:hover {
                color: $white;
            }
        }
    }
}

.footer-small-nav {
    > li {
        display: inline-block;

        a {
            margin: 0 10px 10px 0;

            &:hover,
            &:focus {
                color: $primary;
            }
        }
    }
}
