//OWL CAROUSEL
.owl-carousel {
	position: relative;
	.owl-item {
		opacity: 1;
		&.active {
			opacity: 1;
		}
	}
	.owl-dots {
		text-align: center;
		.owl-dot {
			width: 10px;
			height: 10px;
			margin: 5px;
			border-radius: 50%;
			background: lighten($black, 90%);
			position: relative;
			&:after{
				position: absolute;
				top: -2px;
				left: -2px;
				right: 0;
				bottom: 0;
				width: 14px;
				height: 14px;
				content: '';
				border:1px solid lighten($black, 30%);
				@include border-radius(50%);
			}	
			&:hover, &:focus{
				outline: none !important;
			}
			&.active {
				background: lighten($black, 70%);
				&:after{
					border-color: $white;
				}
			}
		}
	}
	&.home-slider {
		position: relative;
		height: 700px;
		z-index: 0;
		.slider-item {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: 700px;
			position: relative;
			z-index: 0;
			overflow: hidden;
			.overlay{
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				background: $black;
				opacity: .2;
				width: 100%;
				// transform: skewX(20deg);
				padding: 0;
				z-index: 0;
			}
			@include media-breakpoint-down(lg){
				background-position: center center !important;
			}
			.slider-text {
				height: 700px;
				position: relative;
				.text{
					z-index: 0;
					color: rgba(255,255,255,.9);
				}
				h1 {
					font-size: 40px;
					font-weight: 700;
					color: $white;
					line-height: 1;
					text-shadow: 0px 3px 25px rgba(0,0,0,0.1);
					@include media-breakpoint-down(md) {
						font-size: 40px;
						letter-spacing: 3px;
					}
				}
				h2{
					font-size: 16px;
					text-transform: uppercase;
					letter-spacing: 2px;
					font-family: $font-primary;
					font-weight: 600;
					color: $primary;
					display: inline-block;
					position: relative;
					letter-spacing: 4px;
				}
			}
		}
		.owl-nav {
			position: absolute;
			top: 50%;
			width: 100%;
			.owl-prev,
			.owl-next {
				position: absolute;
				transform: translateY(-50%);
				outline: none !important;
				@include transition(.3s);
				span {
					&:before {
						font-size: 30px;
						color: rgba(255,255,255,.5);
						@include transition(.3s);
					}
				}
				&:hover,&:focus{
					span{
						&:before{
							color: $white;
						}
					}
				}
				opacity: 0;
			}
			.owl-prev {
				left: 0;
				margin-left: 0;
			}
			.owl-next {
				right: 0;
				margin-right: 0;
			}
		}
		&:hover{
			.owl-nav{
				.owl-prev,
				.owl-next{
					opacity: 1;
				}
				.owl-prev {
					margin-left: 50px;
				}
				.owl-next {
					margin-right: 50px;
				}
			}
		}
		.owl-dots {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 100px;
			width: 100%;
			text-align: center;
			@include media-breakpoint-down(sm){
				bottom: 5px;
			}
			.owl-dot {
				width: 10px;
				height: 10px;
				margin: 5px;
				border-radius: 50%;
				background: rgba(255,255,255,.4);
				&.active {
					background: $white;
				}
			}
		}
	}
} 

.owl-carousel.owl-drag .owl-item {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}


//OWL CAROUSEL
.owl-carousel {
	position: relative;
	.owl-item {
		opacity: .4;
		&.active {
			opacity: 1;
		}
	}
	
	.owl-nav {
		position: absolute;
		top: 50%;
		width: 100%;
		.owl-prev,
		.owl-next {
			position: absolute;
			transform: translateY(-50%);
			margin-top: -10px;
			color: $primary !important;
			@include transition(.7s);
			span {
				&:before {
					font-size: 30px;
				}
			}
			opacity: 0;
		}
		.owl-prev {
			left: 0;
		}
		.owl-next {
			right: 0;
		}
	}
	.owl-dots {
		text-align: center;
		.owl-dot {
			width: 10px;
			height: 10px;
			margin: 5px;
			border-radius: 50%;
			background: lighten($black, 90%);
			position: relative;
			&:after{
				position: absolute;
				top: -2px;
				left: -2px;
				right: 0;
				bottom: 0;
				width: 14px;
				height: 14px;
				content: '';
				border:1px solid lighten($black, 90%);
				@include border-radius(50%);
			}	
			&.active {
				background: lighten($black, 70%);
			}
		}
	}
	&:hover{
		.owl-nav{
			.owl-prev,
			.owl-next{
				opacity: 1;
			}
			.owl-prev {
				left: -25px;
			}
			.owl-next {
				right: -25px;
			}
		}
	}
}
.owl-custom-nav {
	float: right;
	position: relative;
	z-index: 10;
	border: 1px solid red;
	.owl-custom-prev,
	.owl-custom-next {
		padding: 10px;
		font-size: 30px;
		background: #ccc;
		line-height: 0;
		width: 60px;
		text-align: center;
		display: inline-block;
	}
} 